{% extends 'base.html' %}
{% load static %} 
{% load widget_tweaks %}
{% block content %}
<div class="">
  {% for message in messages %} 
      <p{% if message.tags == 'error' %} class="text-danger"{% endif %}>{{ message|safe }}</p>
  {% endfor %}
  <div class="form-group">
    <form action="." method="POST">{% csrf_token %} 
      {% for field in form %}
        <label for="{{ field.label }}" class="col-sm-2 col-form-label">{{ field.label_tag }}</label>
        <div class="col-sm-6 text-center">
          {% render_field field class="form-control" %}
        </div>        
      {% endfor %}
      {{ form.non_field_errors }}
      <button class='btn btn-sm btn-outline-primary mt-2' type="submit">Submit</button>
    </form>
  </div>
</div>
{% endblock content %}