{% extends 'base.html' %}
{% load static %} 
{% block content %}
<div class="mt-2">
  {% for message in messages %} 
      <li{% if message.tags == 'error' %} class="text-danger"{% endif %}>{{ message|safe }}</li>
  {% endfor %}
  <form action="." method="POST">{% csrf_token %} 
    {% for field in form %}
      <div for="{{ field.label }}" class="col-sm-2 col-form-label">
        {{ field.label_tag  }}
        {{ field}}
    </div>
    {% endfor %}
    {{ form.non_field_errors }}
    <button class='btn btn-sm btn-outline-primary' type="submit">Submit</button>
  </form>
</div>
{% endblock content %}