{% url 'accounts:signin' as signin %}
{% url 'accounts:profile' as profile %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/home/Ahmedabad/">CRRAVINGS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if request.path != signin and request.path != profile %}
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <form class="d-flex" method="GET" action="{% url 'restaurant:search' current_city %}">
            <input class="form-control me-2" name="q" type="search" placeholder="Search  for restras" aria-label="Search" value="{{query}}">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a id="select_city" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{current_city}}
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              {% for city in cities %}
                <li><a class="dropdown-item" href="/home/{{city}}">{{city}}</a></li>
              {% endfor %}
            </ul>
          </li>
        </ul>
        {% endif %}
      </div>
      {% if request.user.is_authenticated %}
          <span class="text-light">Hi, <strong>{{request.user}}</strong> </span>
          <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="dropdown">
                  <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <img class="img-fluid" width=50 src="https://cdn.pixabay.com/photo/2020/06/30/10/23/icon-5355896__340.png" />
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="{% url 'accounts:profile' %}">Profile</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Logut</a></li>
                  </ul>
              </li>
          </ul>
      {% else %}
        <ul class="navbar-nav mb-2 mb-lg-0">
          <a class="text-light" href="{% url 'accounts:signin' %}" class="btn">Login</a>
        </ul>
      {% endif %}
    </div>
  </nav>